<h1>Nuevo Heroe <small>asd</small></h1>

<div fxLayout="row " fxLayoutGap="40px">

  <div fxFlex="50" fxLayout="column">

<div fxLayout="row" fxLayoutGap="40px">


    <mat-form-field fxFlex="100">
      <mat-label>Super Heroe</mat-label>
      <input matInput
      type="text"
      required
      >
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <mat-label>alter Ego</mat-label>
      <input matInput
      type="text"
      required
      >
    </mat-form-field>

  </div>

    <mat-form-field fxFlex="100">
      <mat-label>Primera aparicion</mat-label>
      <input matInput
      type="text"
      required
      >
    </mat-form-field>

  </div>


  <div fxFlex="50">
    2
  </div>

</div>
